body {
    background-color: grey;
    font-family: 'Courier New', Courier, monospace;
    text-align: justify;
    margin: 0%;
    position: static;
    width: max-content;
}

#cabecalho {
    background-color: #000000;
    position: fixed;
    top: 0;
    width: 100%;
    font-size: large;
    letter-spacing: -0.05em;
    line-height: 45px;
    z-index: 1;
}

#titulo {
    color: rgb(253, 251, 251);
    padding-left: 8px;
    position: static;
    width: max-content;
    text-align: center;
    padding-left: 40%;
}

main {
    color: white;
    padding-top: 90px;
    padding-left: 10px;
}