.body {
  background-color: #ffafcc;
}

.body a {
  text-decoration: underline;
  color: #001011;
}

.body p {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  width: 1000px;
  color: #093A3E;
  font-size: 20px;
}

.body h1 {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 40px;
}

.body strong {
  font-style: italic;
}

.body ul, li {
  font-size: 18px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: #093A3E;
}